# All files
# [*]
# guidelines = 80
# Named color format
# guidelines_style = 1px dotted black
# ARGB color format (red with 25% opacity)
# guidelines_style = 2.5px solid 40ff0000
# solid  实线
# dotted  虚线
# dashed  虚线

[*]
guidelines = 80 1.5px dashed 80AC2324, 120 3px solid C0AC2324