/__pycache__
/build
/Release
/musync
/othersSavFile/*
/.vs
/venv
!requirements.txt
SavAnalyze.json
LXGW.ttf
UpdateDisable
InjectionEnable
HitDelayHistory.db
Push.ps1
ExtraFunction.cfg
MUSYNCSavDecode.pyproj.user
*.bat
*.b64
*.spec
*.psd
*.txt
*.analyze
*.decode
*.sfp
*.ico
*.exe
*.pyproj
*.sln
*.log
