/__pycache__
/.vs
/build
/musync
/saveFile
/Releases
/venv
/dist
/logs
/SavDecode
/MusyncSaveDecode

bootcfg.json
LXGW.ttf
SavAnalyze.analyze
SavAnalyze.json
SaveDataInfo.json
SavDecode.decode

*.bat
*.b64
*.bin
!Resources.bin
*.cfg

*.db
*.dll
*.exe
*.log
*.psd
*.pyd
*.sav
*.sfp
*.sql
*.tmp
*.txt
!requirements.txt
/MUSYNCSavDecodeV1.sublime-project
/MUSYNCSavDecodeV1.sublime-workspace
