/__pycache__
/.vs
/build
/musync
/saveFile
/Releases
/venv
/dist
/logs
/SavDecode
/MusyncSaveDecode


SavDecode/.vs
SavDecode/gcm.cache
SavDecode/x64
SavDecode/**

ExtraFunction.cfg
LXGW.ttf
SavAnalyze.json
SaveDataInfo.json

*.analyze
*.b64
*.bat
!distCPP.bat
*.bin
!Resources.bin
*.db
*.decode
*.dll
*.exe
*.log
*.psd
*.pyd
*.sav
*.split
*.sfp
*.split
*.sql
*.sublime*
*.tmp
*.txt
!requirements.txt
